<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <ul>
        <!-- in---of -->
        <li v-for="(people,index) in persons" :key="people.id">
          {{people.name}}--{{people.age}}
        </li>
      </ul>
      <ul>

        <li v-for="(value,key) in cars">
          {{key}}--{{value}}
        </li>
      </ul>
      <ul>
        <li v-for="(a,b) in str" ::key="b">
          {{a}} --  {{b}}
        </li>
      </ul>
      <ul>
        <li v-for="(a,b) in 5">
          {{a}}--{{b}}
        </li>
      </ul>
    </div>

    <script type="text/javascript">
      Vue.config.productionTip = false;

      // {{js表达式}}

      new Vue({
        el: "#root", //用于指定当前Vue实例为哪个容器服务，值通常为css选择器符
        data() {
          return {
            persons: [
              { id: 1, name: "a", age: 12 },
              { id: 2, name: "b", age: 21 },
              { id: 3, name: "c", age: 18 },
            ],
            cars: {
              id: 45,
              color: "red",
              price: 100000,
            },
            str: 'djojqhdkm'
          };
        },
      });
    </script>
  </body>
</html>
