<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName">
        名：<input type="text" v-model="lastName">
        姓名： <span>{{fullName}}</span>
    </div>

    <!-- 
        通过已有的属性计算而来
        底层借助 Object.defineproerty的get set
        优势  内部有缓存机制效率高调试方便
        最终出现在vm上
        如果计算属性被修改必须使用set函数响应 且set中要引起计算时依赖的数据发生改变
    -->

    <script type="text/javascript">
        new Vue({
            el: '#root',
            data() {
                return {
                    firstName: '张',
                    lastName: '三'
                }
            },
            methods: {
            },
            computed: {
                fullName: {
                    get() {
                        //当有人读取fullName get就会调用 且返回值就作为fullName的值
                        //在vm上 通过this调用 存在缓存中
                        //get什么时候调用1.初次读取计算属性2.所依赖的数据发生变化时
                        return this.firstName + '-' + this.lastName
                    },
                    //set:当fullName被修改时
                    set(value){
                        console.log('set',value)
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[2]
                    }
                }
            }
        })
    </script>
</body>

</html>